main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #e0dfdf;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-password-title {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.changepassicon {
    margin-right: .4rem;
}

input {
    width: 100%;
    padding: 6px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    border: none;
    outline: none;
    background-color:rgb(0, 123, 255);
    color: white;
    border-radius: 50px;
    padding: 0.5rem 1rem;    
}

button:hover {
    background-color:rgb(2, 105, 215);
    cursor: pointer;
}

.infolitle {
    font-size: .6rem;
    text-align: center;
}

@media screen and (max-width: 600px) {
    form {
        height: auto; /* Adjusting form height for mobile */
        font-size: 1.3rem; /* Increasing font size for mobile */
    }

    form > input{
        font-size: 1.3rem;
    }

    .infolitle {
        font-size: 1rem;
        text-align: center;
        margin: 1rem;
    }

    .new-password-title {
        font-size: 1.5rem;
    }

    button {
        font-size: 1.3rem;
    }
}
