main {
    display: flex;
    background-color: #e8e8e8;
    /* justify-content: center;
    align-items: center; */
}

.container-left {
    /* border: 1px solid black; */
    margin-left: 4rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.container-left > article {
    height: 200px;
    background-color: #fff;
    display: flex;
    width: 90%;
    border-radius: 8px;
    transition: transform 0.4s;
}

.container-left > article:hover {
    transform: scale(1.01);
    transition: .4s;
}

.container-left > article > .left-zone, .container-left > article > .right-zone {
    margin: 20px;
}

.left-zone > img {
    width: 100%;
    max-width: 140px;
    min-width: 140px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.prices {
    display: flex;
    margin-top: .2rem;
    font-size: 1.3rem;
}

.right-zone > strong {
    font-size: 1.5rem;
    color: rgb(24, 24, 24);
}

.price-new {
    font-weight: 600;
    color: rgb(0, 123, 255);
    font-size: 1.5rem;

}

.price-old {
    color: rgb(85, 85, 85);
    text-decoration: line-through;
}

.prices > * {
    margin-right: .5rem;
}

.user {
    display: flex;
}

.user > img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-size: cover;

}
/* --- */

.container-right {
    /* border: 1px solid black; */
    margin-right: 4rem;
    width: calc(20% - 3rem); /* Ajusta el ancho considerando el margen derecho */
    margin-top: 1rem;
}

.shops > a > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 0.3rem;
}

.shops {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye el espacio entre las im치genes */
}

.shops > * {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.shops-images {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.4s;
}

.shops-images:hover {
    transform: scale(1.02);
    transition: transform 0.4s;
}

.tittle-shop-image {
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
}



/* --- */
article {
    position: relative;

}

/* .right-zone {
    position: relative;
} */

.ir-al-chollo {
    bottom: 1rem;
    right: 1rem;
    background-color: rgb(0, 123, 255);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .7rem 3rem;
    border: none;
    color: #fff;
    font-weight: 600;
}

.ir-al-chollo:hover {
    background-color: rgb(3, 86, 173);
    cursor: pointer;
}

.chollo-butons {
    display: flex;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.guardar-chollo {
    bottom: 1rem;
    font-size: 1.4rem;
    right: 30%;
    border: none;
    width: 2.4rem;
    height: 2.4rem;
    background-color: rgb(209, 209, 209);
    margin-right: 1rem;
    border-radius: 50%;
    border: 1px solid rgb(156, 166, 177);
}

.guardar-chollo:hover {
    background-color: rgb(167, 167, 167);
    cursor: pointer;
}

.count-message {
    bottom: 1rem;
    font-size: 1.2rem;
    right: 30%;
    border: none;
    width: 4rem;
    height: 2.4rem;
    background-color: rgb(209, 209, 209);
    margin-right: 1rem;
    border-radius: 50px;
    border: 1px solid rgb(156, 166, 177);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count-message:hover {
    background-color: rgb(167, 167, 167);
    cursor: pointer;
}

.count-message > i {
    margin-right: .3rem;
}

.fecha-producto {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #445;
}

.user {
    position: absolute;
    bottom: 1rem;
}

.user > img {
    margin-right: .8rem;
}

.user > p {
    margin-top: 4px;
    font-weight: 600;
}

.description {
    margin-top: 1rem;
}

.no-chollo {
    background-color: #dad9d9;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .main {
        flex-direction: column; /* Cambia la direcci칩n del eje principal a columna */
    }

    .container-left {
        margin: 0;
    }

    .container-left > article {
        width: 100%; /* Ocupa todo el ancho disponible con m치rgenes a ambos lados */
        max-width: 100%;
    }

    .container-right {
        display: none; /* Oculta el container-right en dispositivos m칩viles */
    }

    .description {
        display: none;
    }

    .right-zone > * {
        font-size: .8rem;
    }

    .left-zone {
        width: 120px;
        margin-left: 0;
        margin-right: 0;
    }

   

    .fecha-producto {
        font-size: 1.2rem;
        top: .3rem;
    }

    
    .left-zone > img {
        width: 100%;
        max-width: 500px;
        min-width: 40px;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
    }

    .container-left > article > .left-zone, .container-left > article > .right-zone {
        margin: 1rem;
    }

    .container-left > article > .right-zone {
        height: auto;
        margin-top: 1.8rem;
    }

    .user {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }

    .no-chollo {
        margin-top: 2rem;
        text-align: center;
    }

    .price-new {
        font-size: 1.2rem;
    }

    .price-old {
        font-size: 1rem;

    }

    .discont {
        font-size: 1.1rem;

    }

    .category {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 535px) {
    .ir-al-chollo {
        bottom: 1rem;
        right: .8rem;
        padding: .5rem 1rem;
    }

    .count-message {
        font-size: 1rem;
        width: 2.7rem;
        height: 2.4rem;
        margin-right: .8rem;
    }
}