body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin-top: 1rem;
}

.product-container {
    width: 80%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
}

.left-zone img {
    width: 100%;
    max-width: 400px; /* Adjust the max-width as needed */
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.right-zone {
    flex: 1;
    padding-left: 20px;
}

.title-product {
    text-align: left;
    margin-bottom: 10px;
}

.right-zone strong {
    font-size: 1.5em;
    color: #333;
}

.precios {
    display: flex;
    align-items: center;
}

.precios p {
    margin: 10px 0;
    color: rgb(85, 85, 85);
    text-decoration: line-through;
}

.precios .porcentaje {
    text-decoration: none;
    color: rgb(52, 52, 52);
    margin-left: 1rem;
    font-weight: 600;
}

.precios > strong {
    font-size: 1.4rem;
    margin-right: 1rem;
    color: rgb(66, 66, 66);

}

.button-info-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.ir-al-chollo {
    background-color: rgb(0, 123, 255);
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.ir-al-chollo:hover {
    background-color: rgb(3, 86, 173);
    cursor: pointer;
}

.info-user img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 1rem;
}

.info-user {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.descripcion {
    margin-top: 1rem;
    line-height: 1.6;
}

.comments-contaner {
    margin-top: 20px;
    width: 80%;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2rem;
}

.comments-contaner header {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
}

.comments-contaner textarea {
    padding: 10px;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 10px 0 0 10px;
    resize: vertical;
}

.comments-contaner textarea:focus {
    border-color: rgb(0, 123, 255);
    outline: none;
}

form {
    display: flex;
    margin: 1rem;
}

form > img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 1rem;
}

form > button {
    background-color: rgb(0, 123, 255);
    color: white;
    border-radius: 0 10px 10px 0;
    padding: 5px;
}

form > button:hover {
    background-color: rgb(3, 86, 173);
    cursor: pointer;
}

.comments {
    display: flex;
    flex-direction: column;
}

.comments article {
    margin-bottom: 20px;
    margin: 10px;
    padding-top: 1rem;
    border-top: 1px solid #333;
}

.comments .user {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Para espacio entre la imagen y el texto */
    margin-bottom: 10px;
}

.comments .user img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.comments .comment {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}

.time-comment {
    margin-left: auto; /* Alinear completamente a la derecha */
    margin-right: 1rem;
}


/* Add responsive styles as needed */
@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
    }
    .left-zone img {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .right-zone {
        padding-left: 0;
    }
}
