/* Default styles for larger screens */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

header {
    font-weight: 600;
}

.avatar,
.info-user {
    width: 300px;
    height: 300px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
}

.avatar > form,
.info-user > form {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.avatar {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.info-user {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
}

.info-user > p {
    text-align: start;
}

.info-user > header {
    margin-bottom: 1rem;
}

.img-from-profile {
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

form button {
    margin-top: 10px;
}

.close-sesion {
    align-items: center;
}

button {
    padding: .5rem 1rem;
    border-radius: 10px;
}

.button-green {
    background-color: rgb(227, 226, 226);
    color: black;
}

.button-green:hover {
    cursor: pointer;
    background-color: rgb(202, 201, 201);
}

.button-red {
    background-color: rgb(228, 92, 92);
    color: white;
}

.button-red:hover {
    cursor: pointer;
    background-color: rgb(223, 74, 74);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        gap: 10px;
    }

    .avatar,
    .info-user {
        width: 100%;
        max-width: 300px;
        position: relative;
    }

    .avatar > form,
    .info-user > form {
        position: absolute;
        width: 100%;
        margin-top: 10px;
        bottom: 1rem;

    }
}
